// Parley Application Variables

// Primary Theme
$primary   = #D32F2F
$secondary = #424242
$accent    = #660000

// Dark Theme
$dark      = #202020

// Action Colors
$positive  = #499c43
$negative  = #B71C1C
$info      = #8382f2
$warning   = #F2C037
